<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="MazikCareMobEval" Publisher="CN=MazikGlobal" Version="1.0.0.21" />
  <Properties>
    <DisplayName>MazikCare MobEval Insulet</DisplayName>
    <PublisherDisplayName>admin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MazikCare.MobEval.App">
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="xml">
            <SupportedFileTypes>
              <FileType>.xml</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="mazikcare" />
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="MazikCare MobEval" Description="MazikCare MobEval" BackgroundColor="#1f497d" ForegroundText="light" Square150x150Logo="Assets\mazikcare_150-150.png" Square30x30Logo="Assets\logo-small.png">
        <m2:DefaultTile Wide310x150Logo="Assets\mazikcare_310-150.png">
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#1f497d" Image="Assets\mazikcare_620-300.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>